.button-detail{
		background-color: white;
		 border: none;
	  color: #ff7f00;
	  padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  
      transition-duration: 0.4s;
      margin: 0px 20px;
      border-radius: 8px;
}

.button-detail:hover{
	background-color: #d9d9d9; 
  	color: #e37202;
}

.button-start{
    background-color: #ff7f00;
     border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
  transition-duration: 0.4s;
  margin: 0px 20px;
  border-radius: 8px;
}

.button-start:hover{
background-color: #d16900; 
  color: white;
}