
/*React Logo Styling*/
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Main Divs */

.App{
  background-color:  #3D348B ;
  min-height:  100vh 

}

.Header {
   padding-left:  5vh ;
  padding-top:  2.5vh ;
  display:  flex ;
  flex-direction:  row ;
  justify-content:  space-between 
  
}

.Main-container{
   display:  flex ;
  flex-direction: "row";
}

.Main-container-orientation {
 display:  flex ;
flex-direction:  column ;
          justify-content:  center 
}

/* Window Options for Each City */
.Single-window {
  padding-left:  15vh ;
  padding-right:  15vh ;
  display:  flex ;
  flex-direction:  column ;
}

.Left-window {
 width:  50% ;
  padding-left:  10vh ;
  padding-right:  1vh ;
  display: "flex";
  flex-direction: "column";
}

.Right-window {
width:  50% ;
  padding-left:  1vh ;
  padding-right:  10vh ;
  display:  flex ;
  flex-direction:  column ;
}

/* Button */
.Return-button{
  border:  none ;
  align-self:  flex-start ;
  background:  #3D348B 
}

.Return-image {
  width:  40px ;
  background:  transparent 

}

.Toggle-container{
   align-self:  flex-end ;
   padding-right:  5vh ,
 
}


